allow init hwservicemanager:binder { call transfer };
allow init input_device:chr_file ioctl;
allow init system_server:binder call;
allow init vfat:file { getattr open read };
